.board__grid-and-row-labels-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

$grid-border: #0a6ea8;

.board__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid $grid-border;
}

$board-dimension: 510px;
$board-labels-dimension: 8%;

.board--base {
  display: grid;
  grid-template-rows: $board-labels-dimension [grid-row-start] auto auto auto auto auto auto auto auto auto;
  grid-template-columns: $board-labels-dimension [grid-col-start] auto auto auto auto auto auto auto auto auto;
  grid-gap: 0;

  .board__label {
    display: flex;
    align-items: center;
    justify-content: center;

    .board__label--value {
      color: white;
      font-family: 'VT323', 'sans-serif';
      font-size: 1.15em;
      text-align: center;
    }

    &.row {
      .board__label--value {
        margin: 0 0 10% 30%;
      }

      background: url("../images/board_row_label_background.svg") 0 0 no-repeat;
    }

    &.column {
      .board__label--value {
        margin: 30% 10% 0 0;
      }

      background: url("../images/board_column_label_background.svg") 0 0 no-repeat;

      &.inverse {
        .board__label--value {
          margin-top: 0;
        }

        background: url("../images/board_column_label_inverse_background.svg") 0 0 no-repeat;
      }
    }
  }
}

.board__grid {
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-column-start: grid-col-start;
  grid-column-end: span end;
  grid-row-start: grid-row-start;
  grid-row-end: span end;
  border: 1px solid $grid-border;

  .board__tile {
    border: 0.5px solid $grid-border;
    position: relative;
    overflow: hidden;
  }
}

.user--board {
  @extend .board--base;
  width: $board-dimension + 40px;
  height: $board-dimension + 40px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto [grid-row-end] $board-labels-dimension;
}

.user--board__grid {
  @extend .board__grid;
  width: $board-dimension;
  height: $board-dimension;
  max-width: $board-dimension;
  max-height: $board-dimension;
  grid-row-start: span start;
  grid-row-end: grid-row-end;

  .ship__battleship {
    background: limegreen;
    border-color: green;
  }

  .ship__destroyer {
    background: mediumpurple;
    border-color: rebeccapurple;
  }

  .ship__aircraft_carrier {
    background: orange;
    border-color: darkorange;
  }

  .ship__submarine {
    background: aqua;
    border-color: darkturquoise;
  }

  .ship__cruiser {
    background: hotpink;
    border-color: deeppink;
  }

  .occupied--hit {
    background: darkgray;
    border-color: gray;
  }
}

.target--board {
  @extend .board--base;
  width: $board-dimension + 40px;
  height: $board-dimension + 40px;
}

.target--board__grid {
  @extend .board__grid;
  width: $board-dimension;
  height: $board-dimension;
  max-width: $board-dimension;
  max-height: $board-dimension;

  .board__tile {
    &:not(.clicked):hover {
      background-color: rgba(250, 250, 250, .3);
      cursor: pointer;
    }
  }
}

.aimed__indicators {
  width: 100%;
  height: 100%;
}

.aimed__hit--image {
  @extend .aimed__indicators;
  stroke: $hit-indicator;
}

.aimed__miss--image {
  @extend .aimed__indicators;
  stroke: $miss-indicator;
}
