//$target-board-dimension: 850px;
$target-board-dimension: 550px;
$target-tile-dimension: $target-board-dimension/10;

$player-board-dimension: 500px;
$player-tile-dimension: $player-board-dimension/10;

.target--board {
  width: $target-board-dimension + $target-tile-dimension + 12px;
  height: $target-board-dimension + $target-tile-dimension + 12px;
}

.board__labels {
  display: flex;
  justify-content: space-between;

  &.column {
    flex-direction: row;
  }

  &.row {
    flex-direction: column;
    height: 91%;
  }

  .board__label {
    height: $target-tile-dimension;
    width: $target-tile-dimension;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.board__grid-and-row-labels-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.board__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #0a6ea8;

  .board__tile {
    border: 0.5px solid #0a6ea8;
    position: relative;
    overflow: hidden;

    &::before {
      @extend .diagonal-stripe-6-ocean-blue;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
    }

    &.rotated {
      &::before {
        width: 200%;
        height: 200%;
        top: -35px;
        left: -25px;
      }

      &._62::before {
        transform: rotate(62deg);
      }

      &._155-reverse::before {
        transform: rotate(-155deg);
      }
    }
  }
}

.target--board__grid {
  @extend .board__grid;
  width: $target-board-dimension + 10px;
  height: $target-board-dimension + 10px;

  .board__tile {
    width: $target-tile-dimension;
    height: $target-tile-dimension;

    &:not(.clicked):hover {
      background-color: rgba(250, 250, 250, .3);
      cursor: pointer;
    }
  }

  .aimed__hit--image {
    stroke: $hit-indicator;
  }

  .aimed__miss--image {
    stroke: $miss-indicator;
  }
}

.player--board {
  width: $player-board-dimension + $player-tile-dimension + 17px;
  height: $player-board-dimension + $player-tile-dimension + 17px;
}

.player--board__grid {
  @extend .board__grid;
  width: $player-board-dimension + 10px;
  height: $player-board-dimension + 10px;

  .board__tile {
    width: $player-tile-dimension;
    height: $player-tile-dimension;
  }

  .occupied {
    background: limegreen;
    border-color: green;
  }

  .occupied--hit {
    background: darkgray;
    border-color: gray;
  }
}