$hit-indicator: #ed4634;
$miss-indicator: #fff;
$aircraft-carrier: #54C3AA;
$aircraft-carrier-border: #008D76;
$battleship: #7CA74A;
$battleship-border: #288941;
$cruiser: #FBBA5A;
$cruiser-border: #DD9F3F;
$submarine: #E76A49;
$submarine-border: #C84F31;
$destroyer: #F65583;
$destroyer-border: #D7356A;

$board-background-color: white;