@import 'patternfills';
@import 'colors';
@import 'board';
@import 'title-page';

html, body, #root {
  height: 100%;
  background: center url('../images/simple_background_v1.png');
}

body, #root {
  margin: 0;
}

@keyframes idle {
  100% {
    background-position-x: -720px;
  }
}

@keyframes miss {
  100% {
    background-position-x: -330px;
  }
}

@keyframes hit {
  100% {
    background-position-x: -220px;
  }
}

@keyframes defeated {
  100% {
    background-position-x: -330px;
  }
}

@keyframes won {

}

.game__container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.game__content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  .boards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.agent__main-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;

  .agent__opponent--avatar {
    height: 50px;
    width: 65px;
    background: url("../images/opposing_agent_sprite_sheet.png");
    background-origin: border-box;

    &.idle {
      animation-delay: 2s;
      background-position-y: 435px;
      animation: idle 1.5s steps(13) infinite;
    }

    &.miss {
      background-position-y: 160px;
      animation: miss 1.5s steps(6) infinite;
    }

    &.hit {
      background-position-y: 100px;
      animation: hit 1.5s steps(4) infinite;
    }

    &.defeated {
      background-position-y: 49px;
      animation: defeated 1s steps(6) forwards;
    }

    &.won {

    }
  }

  .agent__opponent--dialogue {
    font-family: 'VT323', 'sans-serif';
    font-size: 1.15em;
    text-align: center;
  }
}

.divider {
  width: 150%;
  height: 2px;
  background: #f6f6f6;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: -150px;
}