@import 'patternfills';
@import 'colors';

table {
  table-layout: fixed;
  border-spacing: 0;
  padding: 0;
}

td, tr, th {
  padding: 0;
}

td {
  vertical-align: center;
}

.board__grid {
  width: 1020px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .board__tile {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;

    &:not(.clicked):hover {
      background-color: rgba(250, 250, 250, .3);
      cursor: pointer;
    }

    &::before {
      @extend .diagonal-stripe-6-ocean-blue;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
    }

    &.rotated::before {
      transform: rotate(90deg);
    }
  }

  .aimed--hit--image {
    stroke: $hit-indicator;
  }

  .aimed--miss--image {
    stroke: $miss-indicator;
  }
}